.root {
  display: flex;
  flex-direction: column;
  margin: 0 var(--spacing20) var(--spacing44);
}

.logo {
  width: 168px;
  height: 59px;
}

.header {
  margin-top: var(--spacing20);
  width: 100%;
  order: 1;
}

.logo > * {
  width: 100%;
  height: 100%;
}

.mainContent {
  width: 100%;
  margin: 0 auto;
  max-width: var(--maxContentWidth);
  order: 3;
}

.modal {
  width: 100%;
  order: 2;
}

.languageSwitcher {
  order: 4;
}

@media (min-width: 912px) {
  .root {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .header,
  .languageSwitcher {
    margin-top: var(--spacing60);
    flex-basis: 50%;
  }

  .logo {
    width: 220px;
    height: 69px;
  }

  .languageSwitcher {
    order: 2;
  }

  .modal {
    order: 3;
  }

  .mainContent {
    order: 4;
  }
}
