.root {
  display: flex;
  margin-left: var(--spacing26);
}

.viewButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.gridIcon * {
  fill: var(--blackColor);
}

.grayedOut * {
  fill: var(--greyColor);
  transition: fill 0.2s linear;
}

.grayedOut:hover * {
  fill: var(--blackColor);
}
