.root {
  position: relative;
  width: 70%;
  height: 20px;
  border: none;
  border-top: 4px solid var(--blackColor);
}

.root::after,
.root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid var(--blackColor);
  transform: translateY(4px);
}

.root::before {
  transform: translateY(12px);
  transform-origin: left;
}

.grayedOut,
.grayedOut::before,
.grayedOut::after {
  border-color: var(--greyColor);
  transition: border-color 0.2s linear;
}

.grayedOut:hover,
.grayedOut:hover::before,
.grayedOut:hover::after {
  border-color: var(--blackColor);
}
