.root {
  margin-top: var(--spacing30);
  list-style-type: none;
}

.root.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing10);
}

.root.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  justify-items: center;
  justify-content: center;
  gap: var(--spacing10);
}

.emptyList {
  text-align: center;
}

@media (min-width: 912px) {
  .root {
    margin-top: var(--spacing16);
  }
  .root.list {
    gap: var(--spacing14);
  }

  .root.grid {
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    gap: var(--spacing30);
  }
}
