.root {
  margin-top: var(--spacing30);
}

.root.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing10);
}

@media (min-width: 912px) {
  .root {
    margin-top: var(--spacing16);
  }
  .root.list {
    gap: var(--spacing14);
  }
}
