:root {
  /* Spacings */
  --spacing10: 10px;
  --spacing14: 14px;
  --spacing16: 16px;
  --spacing18: 18px;
  --spacing19: 19px;
  --spacing20: 20px;
  --spacing26: 26px;
  --spacing30: 30px;
  --spacing44: 44px;
  --spacing60: 60px;

  /* Colors */
  --blackColor: #000;
  --whiteColor: #fff;
  --greyColor: #dadada;
  --purpleColor: #473adc;
  --successColor: #04bc0c;
  --errorColor: #ed0401;

  /* Backgrounds */
  --successBackground: #dfefe8;
  --errorBackground: #efe4e4;
  /* Radius */
  --radius4: 4px;

  /* Z-indexes */
  --popupIndex: 1000;

  /* Others */
  --maxAppWidth: 1440px;
  --maxContentWidth: 1240px;
}
